.instruction {
  font-size: 24px;
  text-align: center;
  padding: 12px;
}

.attempt {
  float: left;
  text-align: center;
}

.stimulus {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

.square {
  border: 1px solid #000000;
}

.circle {
  border: 1px solid #000000;
  border-radius: 50px;
}

.sun {
  background-color: red;
  border-radius: 50px;
}

.moon {
  background-color: blue;
  border-radius: 50px;
}